// Zellij configuration for Kodama

theme "default"
pane_frames false
simplified_ui false
default_shell "bash"

keybinds {
    normal {
        bind "Ctrl a" { SwitchToMode "tmux"; }
    }

    tmux {
        bind "c" { NewPane; SwitchToMode "normal"; }
        bind "\"" { NewPane "Down"; SwitchToMode "normal"; }
        bind "%" { NewPane "Right"; SwitchToMode "normal"; }
        bind "d" { Detach; }
        bind "[" { SwitchToMode "scroll"; }
        bind "Esc" { SwitchToMode "normal"; }
        bind "Space" { NextSwapLayout; SwitchToMode "normal"; }
        bind "x" { CloseFocus; SwitchToMode "normal"; }
    }
}

mouse_mode true
copy_on_select true
scrollback_editor "hx"
